@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-animation {
  animation: scrollLeft 70s linear infinite;
}

/* Pause animation when hovering */
.animation-paused {
  animation-play-state: paused !important;
}
 
.scroll-slider {
  width: max-content;
}